@charset "UTF-8";

/* 
    em HTML é id em CSS é # (só pode um elemento por página)
    em HTML é class em CSS é . (pode vários elementos)
*/

body{
    background-color: rgb(170, 245, 170);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(1, 100, 1);
}

h1#principal{
    text-align: center;
    background-color: rgb(1, 100, 1);
    color: white;
}

h2{
    color: rgb(66, 107, 66);
}

.basico{
    color: rgb(66, 107, 66);
}

.intermediario{
    color: rgb(114, 71, 64);
}

.avancado{
    color: rgb(165, 163, 59);
}

.destaque{
    background-color: #c0c03fbe;
}

p{
    text-align: justify;
    text-indent: 30px; /*Paragráfo*/
}